<ion-view view-title="Training Plan" ng-controller="workoutCtrl as workout">
  <ion-content>
    <div style="text-align: center; height: 155px;">
      <!--<h1>Workout</h1>-->
      <h1 ng-bind="workout.counter" style="font-size: 50px;padding-top: 10px;color:darkred"></h1>
      <button ng-click="workout.countdown(5)">Start 5</button>
      <button ng-click="workout.countdown(10);">Start 10</button>
      <p ng-if="workout.complete" style="font-size: 20px;color:darkred">Time out!</p>
      <br/><br/>
    </div>

    <ion-list>

      <div ng-repeat="group in workout.groups" style="margin-top: 0px">

        <ion-item class="item-accordion item-icon-right item-divider" ng-click="workout.toggleGroup(group)" ng-class="{active: workout.isGroupShown(group)}">
         <!-- <img ng-src="{{group.iconURL}}">-->
          <div class="item-text-center item-text-wrap">{{group.name}}</div>
          <i class="icon" ng-class="workout.isGroupShown(group) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
        </ion-item>

        <ion-item class="item-avatar item-icon-right" ng-repeat="item in group.childItems" ng-click="workout.toggleSubGroup(item)" ng-show="workout.isGroupShown(group)">
          <img ng-src="{{item.iconUrl}}">
          <div class="item-text-center item-text-wrap">{{item.childName}}</div>
          <div class="item-text-right">
            <i class="icon" ng-init="done = item.complete" ng-class="done ? 'ion-ios-checkmark-empty' : 'ion-ios-minus-empty'" ng-click="done = workout.toggleDone(done, $event)"></i>
          </div>
        </ion-item>

      </div>

      <div class="button-bar" style="margin-top:10px">
        <a class="button button-assertive">Cancel</a>
        <a class="button button-positive">Finish</a>
      </div>

    </ion-list>

  </ion-content>
</ion-view>
